:root {
  --oncokb-blue: #0968c3;
  --footer-header-height: 4rem;
  --oncokb-border-gray: #e5e0df;
  --oncokb-gray: #8f8b8b;
}
header {
  background-color: var(--oncokb-blue);
  padding: 15px;
  height: var(--footer-header-height);
}
footer {
  background-color: var(--oncokb-blue);
  height: var(--footer-header-height);
}

#header-logo {
  height: 100%;
}

main {
  margin: 0 auto;
  max-width: 80ch;
  width: 100%;
}

main h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

li:first-child a span:first-child::after {
  color: white;
  background: var(--oncokb-blue);
  content: "Latest";
  padding: 0.25rem 0.5rem;
  margin-left: 0.5rem;
  border-radius: 100px;
}

li span:last-child {
  color: var(--oncokb-gray);
  &:visited {
    color: var(--oncokb-gray);
  }
}

ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

a {
  border: 2px solid var(--oncokb-border-gray);
  border-radius: 0.25rem;
  display: grid;
  padding: 1rem;
  grid-template-columns: minmax(0, 100%) max-content;
  color: var(--oncokb-blue);
  align-items: center;
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: purple;
  }
}

#content-wrapper {
  /* Might need both because dvh isn't completely supported */
  min-height: 100vh;
  /* Better for mobile */
  min-height: 100dvh;

  display: grid;
  grid-template-rows:
    /* auto makes the header as small as it can be */
    auto
    /* Takes up the reset of the space */
    /* will expand beyond height 100% since we only set a min height */
    1fr
    /* auto makes the header as small as it can be */
    auto;
}

#content-wrapper.content-only {
  & header,
  footer {
    display: none;
  }
  grid-template-rows: 1fr;
}

iframe {
  height: 100%;
  width: 100%;
}
