######################
# Project Specific
######################


######################
# Intellij
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
classes/
out/


######################
# MacOS
######################
.DS_Store
